a{
    text-decoration:none;
    color:#000;
}
.clear{clear:both;}
.lf{float:left;}
.rt{float:right;}
.center{
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
}
.center li{
    width:15%;
    /*min-width:200px;*/
    height:50px;
    line-height:50px;
    display:inline-block;
    text-align: center;
}
.center li input{
    margin-right:10px;
}
.center .bt li{
    border-bottom:1px solid #ccc;
}
.center .btm button{
    width:70px;
    height:30px;
    border:1px solid #000;
    border-radius:5px;
    background:#fff;
    margin-right:20px;
}
/*********兼容IE*******************/
.center .btm .btnBtm{
    padding-top:10px\0;
}
.center .btm button img{
    margin-right:5px;
}
.del button{
    margin:20px 0 0 100px;
    width:70px;
    height:30px;
    border:1px solid #000;
    border-radius:5px;
    background:#fff;
}
.del img{
    margin-right:5px;
}
.dbfy{
    margin-right:180px;
}
.dbfy span{
    font-size:14px;
}
.dbfy input{
    width:20px;
    height:20px;
}
.dbfy  button{
    width: 50px;
    height:25px;
    border: 1px solid #ADD8E6;
    border-radius: 5px;
    background: #fff;
}
.dbfy select{
    height:25px;
    margin:0 5px;
}
