*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;/*取消下划线*/
    color:#000;
}
img{
    vertical-align:middle;
}
.login{
    width:100%;
    height:563px;
    background:url(../images/landing.png) no-repeat;
    position: relative;
}
.login div{
    width:500px;
    height:460px;
    position:absolute;
    right:300px;
    top:85px;
    background:white;
    border-radius:15px;
}
.login div p{
    height:66px;
    line-height: 66px;
    color:#247DB9;
    border-bottom: 1px solid #E9F2F8;
    font-size: 28px;
    padding-left: 20px;
}
.login ul{
     width:300px;
     margin:0 auto;
 }
.login ul li{
    margin:30px 0;
}
.login ul .srk{
    border:1px solid #F2F2F2;
    position: relative;
    height:50px;
}
.login ul .srk>img{
    float:left;
    margin:10px;
}
.login ul .srk input{
     border:1px solid #E6E6E6;
     height:50px;
    position: absolute;
     right:0;
    top:-1px;
     width:249px;
 }
.login ul li img{
    margin-left:20px;
}
.login ul li input{
    width:150px;
    height:50px;
}
.login ul li button{
    width:300px;
    height:50px;
    background-color:#5097C7;
    border:none;
    color:#fff;
    /*margin: auto;*/
}
.login ul li a {
    display:inline-block;
    color:#ccc;
    float:right;
    margin-top:15px;
}
.company{
    width:601px;
    margin: 0 auto;
}
.company ul{
    padding:0;
    width:601px;
}
.company ul li{
    display:inline-block;
}
.company p{
    text-align: center;
}
