a{
    text-decoration:none;
    color:#000;
}
ul li{
    list-style:none;
}
.clear{clear:both;}
.lf{float:left;}
.rt{float:right;}
.add div{
    height:40px;
    background:#E9F2F8;
}
.add div:nth-child(2){
    height:60px;
    line-height: 60px;
    padding-left:10px;
    background:#fff;
}
.search{
    height:50px;
    line-height:50px;
}
.search button{
    width:150px;
    height:40px;
    background:#fff;
    vertical-align:middle;
    border:1px solid #247DB9;
    border-radius:5px;
    margin-left:20px;
}
.search button img{
    vertical-align:middle;
    margin-right:10px;
}
.search button a{
    font-size:16px;
    line-height:30px;
    color:#247DB9;
}
/*********************************/
.center{
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
}
.center li{
    width:18%;
    /*min-width:200px;*/
    height:50px;
    line-height:50px;
    display:inline-block;
    text-align: center;
}
.center li input{
    margin-right:10px;
}
.center .bt li{
    border-bottom:1px solid #ccc;
}
.center .btm button{
    width:70px;
    height:30px;
    border:1px solid #000;
    border-radius:5px;
    background:#fff;
    margin-right:20px;
}
.center .btm button img{
    margin-right:5px;
}
/*.center .btm .btn1 button{*/
    /*width:60px;*/
    /*height:30px;*/
    /*border:1px solid #7F7F7F;*/
    /*background:#fff;*/
    /*border-radius:15px;*/
/*}*/
.del button{
    margin:20px 0 0 100px;
    width:70px;
    height:30px;
    border:1px solid #000;
    border-radius:5px;
    background:#fff;
}
.del img{
    margin-right:5px;
}
.dbfy{
    margin-right:180px;
}
.dbfy span{
    font-size:14px;
}
.dbfy input{
    width:20px;
    height:20px;
}
.dbfy  button{
    width: 50px;
    height:25px;
    border: 1px solid #ADD8E6;
    border-radius: 5px;
    background: #fff;
}
.dbfy select{
    height:25px;
    margin:0 5px;
}









